requests
pycryptodome
curl_cffi>=0.5.10
aiohttp
certifi
browser_cookie3
websockets
js2py
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
pillow
platformdirs
numpy
asgiref
fastapi
uvicorn
flask
py-arkose-generator
asyncstdlib
async-property
undetected-chromedriver
asyncstdlib
async_property
bs4
security==1.2.1 \
    --hash=sha256:4ca5f8cfc6b836e2192a84bb5a28b72c17f3cd1abbfe3281f917394c6e6c9238
    --hash=sha256:0a9dc7b457330e6d0f92bdae3603fecb85394beefad0fd3b5058758a58781ded
